---
import BaseLayout from '../layouts/BaseLayout.astro';
import BoxFeatures from '@components/BoxFeatures.astro';
import Question from '@components/Question.astro';

import secure from '@src/static/secure.svg';
import secureUp from '@src/static/secureUp.svg';

const boxFeaturesSvgClass = "self-center p-2 border-2 border-solid rounded-xl border-fuchsia-300 bg-white bg-opacity-80"
---

<BaseLayout betweenMainAndFooterClass="grow" mainClass="flex w-[95%] xl:w-[50%] place-content-center text-center items-center self-center flex-col"> 
	
	<div class="justify-around w-screen min-h-screen flex bg-gradient-to-b from-neutral-800 to-black antialiased font-bold px-16 place-content-center">

		<div class="flex self-center items-center justify-center h-fit w-fit flex-col md:flex-row">
			<div class="flex flex-col gap-8 self-start items-center">
				<h1 class="text-white text-7xl md:text-7xl leading-0 m-0 p-12"><span class="bg-clip-text text-transparent bg-gradient-to-r from-[#5702F8] to-[#F044F5]">Preserve</span> your wallet</h1>

				<div class="flex flex-row gap-12 xl:gap-24 m-0 py-2">
					<a class="flex w-fit bg-gradient-to-tl from-[#5702F8] to-[#F044F5] rounded-md drop-shadow-[0_0_40px_rgba(87,2,248,3)] no-underline" href=`${import.meta.env.BASE_URL}comingSoonGetStarted`>
						<div class="underline-none inline-flex items-center grow m-[1px] px-6 py-2 bg-black rounded-md text-white font-bold hover:bg-transparent duration-150 whitespace-nowrap">
							Get started
							<svg width="30px" height="30px" viewBox="0 0 24 24" stroke="white" stroke-width="2">
								<polyline data-name="Right" fill="none" points="16.4 7 21.5 12 16.4 17" stroke-linecap="round" stroke-linejoin="round"/>
								<line fill="none" stroke-linecap="round" stroke-linejoin="round" x1="8.5" x2="19.2" y1="12" y2="12"/>
							</svg>
						</div>
					</a>
				</div>

				<div class="flex flex-col text-white pb-16 m-6 text-2xl xl:text-4xl lg:max-w-[50vw] font-bold place-content-center">
					<span class="whitespace-nowrap"><span class="text-[#5C04F8]">Secure</span> your <span class="text-[#9C1FF6]">cryptos</span> and <span class="text-[#ED43F5]">NFT</span>,</span> to never lose them again.
				</div>
				<img src={secureUp} class="max-w-[600px] min-w-[500px] max-[768px]:min-w-[350px] w-1/2 md:w-1/2"/>
			</div>
			
		</div>

	</div>	


	<section class="flex flex-col place-content-center w-full text-white py-24 gap-8">
		<h2 class="text-white font-bold text-3xl md:text-5xl self-center">Navigate <span class="bg-clip-text text-transparent bg-gradient-to-r from-[#5702F8] to-[#A226E9]">web3</span> in complete <span class="bg-clip-text text-transparent bg-gradient-to-r from-[#A226E9] to-[#F044F5]">peace of mind</span></h2>
		<p class="text-white text-lg self-center">BackOnChain is a state-of-the-art solution for securing digital assets on the blockchain, while firmly adhering to the principles of decentralization</p>
		<div class="flex xl:flex-row flex-col gap-8">

			<div class="flex flex-col basis-1/2 p-4 gap-4 rounded-xl border border-neutral-400 bg-gradient-to-br from-[#5C04F8] to-[#9C1FF6] place-content-center">
				<svg class="fill-white self-center" width="100" height="100" viewBox="0 0 32 32">
					<defs>
						<clipPath id="A">
							<path d="M0 0h32v32H0z"/>
						</clipPath>
					</defs>
					<g clip-path="url(#A)"><path d="M27.551 2.781c-1.24-.005-2.365.727-2.863 1.863s-.274 2.459.57 3.368l-5.192 4.675c-1.841-1.529-4.507-1.543-6.364-.033L9.531 8.477c.256-.416.393-.894.395-1.383a2.69 2.69 0 0 0-4.589-1.902 2.69 2.69 0 0 0 1.902 4.589 2.66 2.66 0 0 0 1.622-.559l4.12 4.127a5.08 5.08 0 0 0-1.242 3.307c0 .115.026.222.034.335l-5.565.721a2.55 2.55 0 0 0-4.797 1.643 2.55 2.55 0 0 0 5.038-.574c0-.031-.008-.059-.009-.09l5.494-.712c.199.741.564 1.428 1.066 2.008l-3.733 4c-.424-.252-.907-.387-1.4-.39-1.138 0-2.164.685-2.6 1.736s-.195 2.261.61 3.066 2.015 1.045 3.066.61 1.736-1.462 1.736-2.6c-.003-.648-.232-1.275-.647-1.772l3.7-3.956c1.578 1.273 3.771 1.461 5.543.476l2.972 2.934a3 3 0 0 0 4.094 4.357 3 3 0 0 0-3.305-4.982l-2.915-2.878c1.06-.854 1.728-2.101 1.854-3.457s-.303-2.704-1.188-3.738l5.281-4.754c.455.257.967.395 1.49.4 1.726 0 3.125-1.399 3.125-3.125s-1.399-3.125-3.125-3.125zM3.886 20.344c-.632 0-1.202-.381-1.444-.965s-.108-1.256.339-1.703 1.119-.581 1.703-.339.965.812.965 1.444c-.001.863-.7 1.562-1.563 1.563zm22.478 5.687a1.94 1.94 0 0 1-3.308 1.372 1.94 1.94 0 0 1 1.37-3.309 1.94 1.94 0 0 1 1.938 1.937zM7.239 8.781a1.69 1.69 0 0 1-1.195-2.882 1.69 1.69 0 0 1 2.882 1.195 1.69 1.69 0 0 1-1.687 1.687zm.625 19.438c-.733 0-1.395-.441-1.676-1.119s-.126-1.457.392-1.976 1.298-.674 1.976-.393 1.119.942 1.119 1.675c-.001 1-.812 1.811-1.812 1.813zm5.875-11.563c0-1.726 1.399-3.125 3.125-3.125s3.125 1.399 3.125 3.125-1.399 3.125-3.125 3.125a3.13 3.13 0 0 1-3.125-3.125zm13.812-8.625c-1.174 0-2.125-.951-2.125-2.125s.951-2.125 2.125-2.125 2.125.951 2.125 2.125a2.13 2.13 0 0 1-2.125 2.125z"/></g>
				</svg>
				<h3 class="flex self-start text-xl font-bold">Fully decentralized</h3>
				<p class="flex self-start text-left">We will NEVER ask you for your private key, the solution is entirely on-chain, operating exclusively with smart contracts.</p>
			</div>

			<div class="flex flex-col basis-1/2 p-4 gap-4 rounded-xl border border-neutral-400 bg-gradient-to-br from-[#5C04F8] to-[#9C1FF6] place-content-center">
				<svg class="fill-white self-center" width="100" height="100" viewBox="0 0 36 36">
					<path d="M30.4 17.6a12.78 12.78 0 0 0-6.7-3.7c-1.1-.3-2.2-.5-3.3-.6 2.8-3.3 2.3-8.3-1-11.1s-8.3-2.3-11.1 1-2.3 8.3 1 11.1c.6.5 1.2.9 1.8 1.1v2.2l-1.6-1.5c-1.4-1.4-3.7-1.4-5.2 0-1.4 1.4-1.5 3.6-.1 5l4.6 5.4c.2 1.4.7 2.7 1.4 3.9a11.78 11.78 0 0 0 1.9 2.5v1.9a.94.94 0 0 0 1 1h13.6a1.08 1.08 0 0 0 1-1v-2.6c1.9-2.3 2.9-5.2 2.9-8.1v-5.8c.1-.4 0-.6-.2-.7zm-22-9.4c0-3.3 2.7-5.9 6-5.8 3.3 0 5.9 2.7 5.8 6 0 1.8-.8 3.4-2.2 4.5v-5a3.4 3.4 0 0 0-3.4-3.2c-1.8-.1-3.4 1.4-3.4 3.2v5.2c-1.7-1-2.7-2.9-2.8-4.9h0zM28.7 24c.1 2.6-.8 5.1-2.5 7.1-.2.2-.4.4-.4.7v2.1H14.2v-1.4c0-.3-.2-.6-.4-.8a7.87 7.87 0 0 1-1.8-2.2c-.6-1-1-2.2-1.2-3.4 0-.2-.1-.4-.2-.6l-4.8-5.7c-.3-.3-.5-.7-.5-1.2 0-.4.2-.9.5-1.2.7-.6 1.7-.6 2.4 0l2.9 2.9v3l1.9-1V7.9c.1-.7.7-1.3 1.5-1.2.7 0 1.4.5 1.4 1.2v11.5l2 .4v-4.6c.1-.1.2-.1.3-.2.7 0 1.4.1 2.1.2v5.1l1.6.3v-5.2l1.2.3c.5.1 1 .3 1.5.5v5l1.6.3v-4.6c.9.4 1.7 1 2.4 1.7l.1 5.4z"/>
					<path fill-opacity="0" d="M0 0h36v36H0z"/>
				</svg>
				<h3 class="flex self-start text-xl font-bold">User-Friendly</h3>
				<p class="flex self-start text-left">Assets can be secured in an instant through our solution, and it's commitment-free, allowing you to stop using our product at any time without delay.</p>
			</div>

		</div>
		<div class="flex xl:flex-row flex-col gap-8">
			<div class="flex flex-col basis-1/2 p-4 gap-4 rounded-xl border border-neutral-400 bg-gradient-to-br from-[#5C04F8] to-[#9C1FF6] place-content-center">
				<svg class="fill-none stroke-white self-center" width="100" height="100" viewBox="0 0 24 24">
					<path class="cls-1" d="M16.84,2.52a10.49,10.49,0,0,1,2.69,1.95,10.64,10.64,0,0,1-5.78,18"/>
					<path class="cls-1" d="M7.16,21.48a10.49,10.49,0,0,1-2.69-1.95,10.64,10.64,0,0,1,5.78-18"/>
					<polyline class="cls-1" points="16.84 6.19 16.84 2.32 20.71 2.32"/>
					<polyline class="cls-1" points="7.16 17.81 7.16 21.68 3.29 21.68"/>
				</svg>
				
				<h3 class="flex self-start text-xl font-bold">Death-proof</h3>
				<p class="flex self-start text-left">Thanks to one of our features, your loved ones will be able to recover your funds without your private key in the event of a misfortune.</p>
			</div>

			<div class="flex flex-col basis-1/2 p-4 gap-4 rounded-xl border border-neutral-400 bg-gradient-to-br from-[#5C04F8] to-[#9C1FF6] place-content-center">
				<svg class="fill-white self-center" width="100" height="100" viewBox="0 -64 640 640"><path d="M622.3 271.1l-115.2-45c-4.1-1.6-12.6-3.7-22.2 0l-115.2 45c-10.7 4.2-17.7 14-17.7 24.9 0 111.6 68.7 188.8 132.9 213.9 9.6 3.7 18 1.6 22.2 0C558.4 489.9 640 420.5 640 296c0-10.9-7-20.7-17.7-24.9zM496 462.4V273.3l95.5 37.3c-5.6 87.1-60.9 135.4-95.5 151.8zM224 256c70.7 0 128-57.3 128-128S294.7 0 224 0 96 57.3 96 128s57.3 128 128 128zm96 40c0-2.5.8-4.8 1.1-7.2-2.5-.1-4.9-.8-7.5-.8h-16.7c-22.2 10.2-46.9 16-72.9 16s-50.6-5.8-72.9-16h-16.7C60.2 288 0 348.2 0 422.4V464c0 26.5 21.5 48 48 48h352c6.8 0 13.3-1.5 19.2-4-54-42.9-99.2-116.7-99.2-212z"/></svg>
				<h3 class="flex self-start text-xl font-bold">Stacking-friendly</h3>
				<p class="flex self-start text-left">All funds secured on our solution are fully stackable, so you don't have to limit yourself in the use of your assets.</p>
			</div>
		</div>
	</section>




	<div class="flex w-screen flex-col xl:flex-row text-white bg-opacity-80 items-center place-content-center py-24">

			<img src={secure} class="max-w-[600px] min-w-[400px] max-[768px]:min-w-[350px] w-1/2 md:w-1/2"/>
	
	</div>


	<div class="w-full flex flex-col gap-6">
		<h1 class="text-white font-bold text-5xl md:text-7xl leading-0 m-0 p-12">Key <span class="bg-clip-text text-transparent bg-gradient-to-r from-[#5702F8] to-[#F044F5]">Features</span></h1>
		
		<div class="flex flex-col gap-6 w-full">
			<div class="flex flex-col xl:flex-row gap-6 w-full">

				<BoxFeatures title="Open Source" text="The project will be fully open source and available on github.">
					<a class="hover:scale-110 duration-300 self-center" href="https://github.com/BackOnChain">
						<svg class={boxFeaturesSvgClass} height="80px" width="80px" viewBox="0 0 98 96"><path fill-rule="evenodd" fill="#000" clip-rule="evenodd" d="M48.854 0C21.839 0 0 22 0 49.217c0 21.756 13.993 40.172 33.405 46.69 2.427.49 3.316-1.059 3.316-2.362 0-1.141-.08-5.052-.08-9.127-13.59 2.934-16.42-5.867-16.42-5.867-2.184-5.704-5.42-7.17-5.42-7.17-4.448-3.015.324-3.015.324-3.015 4.934.326 7.523 5.052 7.523 5.052 4.367 7.496 11.404 5.378 14.235 4.074.404-3.178 1.699-5.378 3.074-6.6-10.839-1.141-22.243-5.378-22.243-24.283 0-5.378 1.94-9.778 5.014-13.2-.485-1.222-2.184-6.275.486-13.038 0 0 4.125-1.304 13.426 5.052a46.97 46.97 0 0 1 12.214-1.63c4.125 0 8.33.571 12.213 1.63 9.302-6.356 13.427-5.052 13.427-5.052 2.67 6.763.97 11.816.485 13.038 3.155 3.422 5.015 7.822 5.015 13.2 0 18.905-11.404 23.06-22.324 24.283 1.78 1.548 3.316 4.481 3.316 9.126 0 6.6-.08 11.897-.08 13.526 0 1.304.89 2.853 3.316 2.364 19.412-6.52 33.405-24.935 33.405-46.691C97.707 22 75.788 0 48.854 0z" fill="#fff"/></svg>
					</a>
				</BoxFeatures>

				<BoxFeatures title="Cross-platform" text="The solution will be adaptable and can be used on all your devices: computer, smartphone, tablet">
					<svg class={boxFeaturesSvgClass} height="80px" width="80px" viewBox="0 0 95 95.62" fill="#000">
						<path class="st0" d="M5.96,72.825V52.973A4.156,4.156,0,0,1,2.5,48.886v-34a4.152,4.152,0,0,1,4.143-4.143h53.17a4.152,4.152,0,0,1,4.143,4.143v3.938h21.9A3.486,3.486,0,0,1,89.336,22.3V72.825h1.883a1.275,1.275,0,0,1,.9.375l.007.006a1.283,1.283,0,0,1,.373.9v2.7a3.984,3.984,0,0,1-3.976,3.976h-8.88v.6a2.882,2.882,0,0,1-2.876,2.876H56.719a2.882,2.882,0,0,1-2.876-2.876v-.6H6.772A3.986,3.986,0,0,1,2.8,76.8v-2.7a1.273,1.273,0,0,1,.376-.9l0,0a1.276,1.276,0,0,1,.9-.375ZM63.909,65.4l2.142,1.237a1.051,1.051,0,0,0,1.437-.384.655.655,0,0,0,.032-.058l2.442-4.229a1.05,1.05,0,0,0-1.822-1.046l-1.945,3.37-1.231-.711A1.052,1.052,0,1,0,63.909,65.4ZM66.744,55.2a8.39,8.39,0,1,0,5.932,2.457A8.365,8.365,0,0,0,66.744,55.2Zm4.441,3.949a6.281,6.281,0,1,0,1.84,4.441,6.259,6.259,0,0,0-1.84-4.441ZM63.64,49.6h6.207a1.055,1.055,0,1,0,0-2.11H63.64a1.055,1.055,0,0,0,0,2.11ZM29.579,32.455l1.936,1.936a1.054,1.054,0,0,0,1.491,0l3.872-3.872a1.054,1.054,0,0,0-1.491-1.491L32.26,32.154l-1.19-1.19a1.054,1.054,0,0,0-1.491,1.491Zm2.994,8.957a1.049,1.049,0,0,0,1.294.013,28.9,28.9,0,0,0,5.15-5.019,12.969,12.969,0,0,0,2.621-4.991,1.041,1.041,0,0,0,.041-.292V24.748h0a1.052,1.052,0,0,0-1-1.051,17.589,17.589,0,0,1-3.637-.583,20.142,20.142,0,0,1-3.361-1.236l-.007,0a1.046,1.046,0,0,0-.89,0,20.127,20.127,0,0,1-3.367,1.239,17.572,17.572,0,0,1-3.566.579h-.018a1.054,1.054,0,0,0-1.054,1.055v6.375h0a1.079,1.079,0,0,0,.016.186,12.723,12.723,0,0,0,2.642,5.1,28.886,28.886,0,0,0,5.133,5.006Zm-3.477-6.3a26.128,26.128,0,0,0,4.132,4.144,26.085,26.085,0,0,0,4.132-4.144,11.024,11.024,0,0,0,2.21-4.069V25.72a19.839,19.839,0,0,1-3.073-.57,22.012,22.012,0,0,1-3.269-1.168A21.96,21.96,0,0,1,29.96,25.15a19.839,19.839,0,0,1-3.073.57v5.323A11.033,11.033,0,0,0,29.1,35.112Zm5.62-16.1c-.348-.164-.7-.329-1.043-.491a1.049,1.049,0,0,0-.89,0l-1.042.491A19.252,19.252,0,0,1,28.5,20.2a16.494,16.494,0,0,1-3.382.538l-2.246.119h-.02A1.055,1.055,0,0,0,21.8,21.911v9.376h0a1.061,1.061,0,0,0,.017.185l.038.215a14.939,14.939,0,0,0,2.988,6.1,34.793,34.793,0,0,0,6.253,6.2l1.477,1.135a1.051,1.051,0,0,0,1.293.012l1.492-1.147a34.76,34.76,0,0,0,6.253-6.2,14.939,14.939,0,0,0,2.988-6.1l.022-.121a1.073,1.073,0,0,0,.037-.279V21.911h0a1.052,1.052,0,0,0-1-1.05l-2.32-.123a16.484,16.484,0,0,1-3.381-.538,19.22,19.22,0,0,1-3.241-1.192Zm2.7,3.227a21.378,21.378,0,0,1-3.595-1.324l-.6-.281-.6.281a21.356,21.356,0,0,1-3.6,1.324,18.645,18.645,0,0,1-3.81.605l-1.319.069v8.307l.019.1a12.905,12.905,0,0,0,2.592,5.2,32.535,32.535,0,0,0,5.858,5.808l.853.655.854-.655A32.567,32.567,0,0,0,39.94,36.52a12.905,12.905,0,0,0,2.592-5.2l.018-.1V22.909l-1.319-.069a18.667,18.667,0,0,1-3.81-.605ZM53.843,48.993H9.112A2.568,2.568,0,0,1,6.549,46.43V17.345a2.568,2.568,0,0,1,2.563-2.563H57.344a2.567,2.567,0,0,1,2.564,2.563V42.92h1.939V14.889a2.043,2.043,0,0,0-2.034-2.034H6.643A2.042,2.042,0,0,0,4.61,14.889v34A2.042,2.042,0,0,0,6.643,50.92h47.2V48.993ZM57.8,42.92V17.345a.459.459,0,0,0-.455-.454H9.112a.458.458,0,0,0-.454.454V46.43a.458.458,0,0,0,.454.454H53.843V45.8a2.882,2.882,0,0,1,2.876-2.877ZM8.069,53.03v19.8H53.843V69.85H14.038a2.284,2.284,0,0,1-1.611-.67l-.006-.007a2.278,2.278,0,0,1-.668-1.609V53.03Zm5.793,0V67.564a.176.176,0,0,0,.048.124l0,0a.172.172,0,0,0,.124.048H53.843V53.03ZM63.956,42.92H76.768A2.882,2.882,0,0,1,79.644,45.8V67.74h1.614a.17.17,0,0,0,.123-.048l0,0a.172.172,0,0,0,.048-.124V26.905a.174.174,0,0,0-.048-.124l0,0a.17.17,0,0,0-.123-.049h-17.3V42.92Zm0-18.3h17.3a2.276,2.276,0,0,1,1.61.67l.007.007a2.28,2.28,0,0,1,.668,1.608V67.564a2.278,2.278,0,0,1-.671,1.611l-.006.007a2.283,2.283,0,0,1-1.608.668H79.644v2.975h7.582V22.3a1.374,1.374,0,0,0-1.367-1.368h-21.9V24.62ZM53.843,74.934H4.905V76.8a1.874,1.874,0,0,0,1.867,1.867H53.843V74.934Zm25.8,0v3.734h8.88A1.876,1.876,0,0,0,90.391,76.8V74.934Zm-2.876-29.9H56.719a.772.772,0,0,0-.767.767V81.378a.772.772,0,0,0,.767.767H76.768a.772.772,0,0,0,.767-.767V45.8a.772.772,0,0,0-.767-.767Z"></path>
					</svg>
				</BoxFeatures>

				<BoxFeatures title="Privacy" text="BackOnChain uses don't keep any data on customers (no KYC) and customers are the true owners of their assets.">
					<svg class={boxFeaturesSvgClass} width="80px" height="80px" viewBox="0 0 17 17">
						<defs>
							<clipPath id="A">
								<path d="M0 0h32v32H0z"/>
							</clipPath>
						</defs>
						<g clip-path="url(#A)"><path d="m 8.4683672,0.7937545 a 0.26460703,0.26460703 0 0 0 -0.101759,0.0197 0.26460703,0.26460703 0 0 0 -0.0903,0.0629 l 10e-4,-0.003 c -1.180018,1.204479 -2.976791,1.917812 -4.880143,1.919342 -0.404676,-9.6e-4 -0.808292,-0.0343 -1.205188,-0.0991 a 0.26460703,0.26460703 0 0 0 -0.307237,0.261077 v 6.616826 c 0,1.9055315 1.663154,3.5176755 3.268578,4.6758145 1.605425,1.158129 3.206129,1.869422 3.206129,1.869422 a 0.26460703,0.26460703 0 0 0 0.215118,0 c 0,0 1.6004448,-0.711293 3.2056888,-1.869422 1.605245,-1.158139 3.268339,-2.770303 3.268339,-4.6758145 v -6.613956 a 0.26460703,0.26460703 0 0 0 -0.306657,-0.261167 c -0.397077,0.0639 -0.800913,0.0962 -1.205729,0.0963 -1.903581,-9.6e-4 -3.7007338,-0.714793 -4.8809418,-1.919452 a 0.26460703,0.26460703 0 0 0 -0.187179,-0.0793 z m -0.002,0.622014 c 1.289378,1.210398 3.1280498,1.904882 5.0695708,1.905862 a 0.26460703,0.26460703 0 0 0 2.1e-4,0 c 0.329557,-5e-5 0.657494,-0.0265 0.983321,-0.0662 v 6.315949 c 0,1.5864245 -1.495436,3.1260695 -3.048681,4.2466885 -1.397176,1.00802 -2.7362228,1.641374 -3.0036608,1.764473 -0.267257,-0.122989 -1.606584,-0.756433 -3.004081,-1.764563 -1.553415,-1.120619 -3.04915,-2.660194 -3.04915,-4.2465985 v -6.318019 c 0.325307,0.0404 0.652844,0.0676 0.98209,0.0684 a 0.26460703,0.26460703 0 0 0 8e-4,0 c 1.941472,-10e-4 3.780194,-0.695554 5.069581,-1.905952 z m 3.2e-4,3.06365 c -1.04194,0 -1.889261,0.846412 -1.889261,1.887712 v 1.150689 h -0.442156 a 0.26460703,0.26460703 0 0 0 -0.264598,0.264597 v 3.6723345 a 0.26460703,0.26460703 0 0 0 0.264598,0.264587 h 4.6628348 a 0.26460703,0.26460703 0 0 0 0.264587,-0.264587 V 7.7824165 a 0.26460703,0.26460703 0 0 0 -0.264587,-0.264597 h -0.442166 v -1.150689 c 0,-1.0413 -0.8473118,-1.887712 -1.8892518,-1.887712 z m 0,0.529185 c 0.758233,0 1.360157,0.601524 1.360157,1.358527 v 1.150689 h -2.720234 v -1.150689 c 0,-0.757003 0.601855,-1.358527 1.360077,-1.358527 z m -2.06683,3.038401 H 10.533507 V 11.190153 H 6.3998572 Z" fill="#000"/></g>
					</svg>
				</BoxFeatures>				

			</div>

			<div class="flex flex-col xl:flex-row gap-6 w-full">

				<BoxFeatures title="Multi-Chain" text="BackOnChain will make it possible to secure various tokens on different blockchains.">
					<svg class={boxFeaturesSvgClass} height="80px" width="80px" viewBox="0 0 100 100" fill="none" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"><path fill="#000000" d="M8,23c0-4.142,3.358-7.5,7.5-7.5c3.074,0,5.709,1.853,6.867,4.5H30.5c0.964,0,1.868,0.463,2.432,1.244l7.34,10.163  c-1.787,0.939-3.42,2.127-4.859,3.519L28.966,26h-6.599c-1.158,2.646-3.793,4.5-6.867,4.5C11.358,30.5,8,27.142,8,23z"/><path fill="#000000" d="M8,50c0-4.142,3.358-7.5,7.5-7.5c3.074,0,5.709,1.853,6.867,4.5h6.873c-0.319,2.216-0.318,3.789,0,6h-6.873  c-1.158,2.646-3.793,4.5-6.867,4.5C11.358,57.5,8,54.142,8,50z"/><path fill="#000000" d="M42.5,15.5c0-4.142,3.358-7.5,7.5-7.5s7.5,3.358,7.5,7.5c0,3.074-1.853,5.708-4.5,6.867v6.873c-2.215-0.319-3.79-0.318-6,0  v-6.873C44.353,21.208,42.5,18.574,42.5,15.5z"/><path fill="#000000" d="M59.729,31.406l7.34-10.163C67.632,20.463,68.536,20,69.5,20h8.133c1.158-2.647,3.793-4.5,6.867-4.5  c4.142,0,7.5,3.358,7.5,7.5c0,4.142-3.358,7.5-7.5,7.5c-3.074,0-5.708-1.854-6.867-4.5h-6.599l-6.446,8.926  C63.149,33.534,61.516,32.345,59.729,31.406z"/><path fill="#000000" d="M92,77c0,4.142-3.358,7.5-7.5,7.5c-3.074,0-5.709-1.853-6.867-4.5H69.5c-0.964,0-1.868-0.463-2.432-1.244l-7.34-10.163  c1.787-0.939,3.42-2.127,4.859-3.519L71.034,74h6.599c1.158-2.646,3.793-4.5,6.867-4.5C88.642,69.5,92,72.858,92,77z"/><path fill="#000000" d="M40.272,68.593l-7.34,10.163C32.368,79.537,31.464,80,30.5,80h-8.133c-1.158,2.647-3.793,4.5-6.867,4.5  C11.358,84.5,8,81.142,8,77c0-4.142,3.358-7.5,7.5-7.5c3.074,0,5.708,1.854,6.867,4.5h6.599l6.447-8.926  C36.851,66.466,38.484,67.654,40.272,68.593z"/><path fill="#000000" d="M92,50c0,4.142-3.358,7.5-7.5,7.5c-3.074,0-5.708-1.854-6.867-4.5H70.76c0.319-2.215,0.319-3.788,0-6h6.873  c1.158-2.647,3.793-4.5,6.867-4.5C88.642,42.5,92,45.858,92,50z"/><path fill="#000000" d="M57.5,84.5c0,4.142-3.358,7.5-7.5,7.5s-7.5-3.358-7.5-7.5c0-3.074,1.853-5.708,4.5-6.867V70.76c2.215,0.319,3.787,0.319,6,0  v6.873C55.647,78.792,57.5,81.426,57.5,84.5z"/><path fill="#000000" d="M66.5,50c0,9.113-7.387,16.5-16.5,16.5S33.5,59.113,33.5,50S40.887,33.5,50,33.5S66.5,40.887,66.5,50z"/></svg>
				</BoxFeatures>

				<BoxFeatures title="Suitable" text="Thanks to our web extension, you can track your secured assets without even visiting our site.">
					<svg class={boxFeaturesSvgClass} height="80px" width="80px" fill="#000" stroke="#000" stroke-width="0.5" viewBox="0 0 24 24">
						<path d="M18,21H6a3.00328,3.00328,0,0,1-3-3V6A3.00328,3.00328,0,0,1,6,3h6a1,1,0,0,1,0,2H6A1.001,1.001,0,0,0,5,6V18a1.001,1.001,0,0,0,1,1H18a1.00067,1.00067,0,0,0,1-1V12a1,1,0,0,1,2,0v6A3.00328,3.00328,0,0,1,18,21ZM22,6a4,4,0,1,0-4,4A4.004,4.004,0,0,0,22,6ZM20,6a2,2,0,1,1-2-2A2.0026,2.0026,0,0,1,20,6Z"/>
					</svg>
				</BoxFeatures>

				<BoxFeatures title="Non-custodial" text="BackOnChain is a non-custodial solution, you are the true owner of your keys.">
					<svg class={boxFeaturesSvgClass} fill="#000000" height="80px" width="80px" viewBox="0 -64 640 640"><path d="M622.3 271.1l-115.2-45c-4.1-1.6-12.6-3.7-22.2 0l-115.2 45c-10.7 4.2-17.7 14-17.7 24.9 0 111.6 68.7 188.8 132.9 213.9 9.6 3.7 18 1.6 22.2 0C558.4 489.9 640 420.5 640 296c0-10.9-7-20.7-17.7-24.9zM496 462.4V273.3l95.5 37.3c-5.6 87.1-60.9 135.4-95.5 151.8zM224 256c70.7 0 128-57.3 128-128S294.7 0 224 0 96 57.3 96 128s57.3 128 128 128zm96 40c0-2.5.8-4.8 1.1-7.2-2.5-.1-4.9-.8-7.5-.8h-16.7c-22.2 10.2-46.9 16-72.9 16s-50.6-5.8-72.9-16h-16.7C60.2 288 0 348.2 0 422.4V464c0 26.5 21.5 48 48 48h352c6.8 0 13.3-1.5 19.2-4-54-42.9-99.2-116.7-99.2-212z"/></svg>
				</BoxFeatures>

			</div>
		</div>

	</div>   


	<div class="flex flex-col w-full items-center pt-24 gap-3">
		<h1 class="text-white font-bold text-5xl md:text-7xl leading-0 m-0 p-12">FAQ</h1>
		<Question question="Will you need my private key to run the solution?" answer="No, our solution is fully decentralized, you remain the exclusive owner of your private key!" />
		<Question question="Do you have access to my assets?" answer="No, only you can have acces and manage your assets!" />
		<Question question="Wich assets can I secure with BackOnChain?" answer="You can secure your NFT and various tokens, which we will announce shortly." />
		<Question question="Can I secure several wallets?" answer="Yes, as many as you want!" />
		<Question question="Will the solution be expensive?" answer="No, our service is designed to be accessible to all, and will cost no more than 1€/month for beginners!" />
	</div>

	<div class="flex flex-col text-md items-center w-full py-24">
		<h1 class="text-white font-bold text-5xl md:text-7xl leading-0 m-0 p-12">Connect <span class="bg-clip-text text-transparent bg-gradient-to-r from-[#5702F8] to-[#F044F5]">with us</span></h1>
        <div class="flex flex-row w-full justify-between">
            <svg width="100" class="fill-white hover:fill-indigo-500 hover:scale-110 duration-300 cursor-pointer" viewBox="0 0 160 119"><path d="M135.535 9.96646C125.042 5.24938 113.941 1.89769 102.526 0C101.104 2.46985 99.443 5.7918 98.2974 8.43459C85.9899 6.65652 73.7956 6.65652 61.7143 8.43459C60.5693 5.7924 58.8706 2.46985 57.4356 0C46.0093 1.89857 34.8991 5.25879 24.4012 9.99108C3.51121 40.3216 -2.15192 69.8979 0.679331 99.0557C14.535 108.997 27.9624 115.036 41.1637 118.988C44.4445 114.653 47.3447 110.064 49.8343 105.267C45.0945 103.533 40.5251 101.397 36.1806 98.8827C37.3239 98.0685 38.4403 97.22 39.5281 96.3384C65.8543 108.169 94.4593 108.169 120.472 96.3384C121.564 97.2142 122.68 98.0626 123.819 98.8827C119.467 101.403 114.889 103.544 110.14 105.28C112.644 110.096 115.539 114.69 118.811 119C132.024 115.049 145.464 109.01 159.32 99.0557C162.642 65.2549 153.645 35.95 135.535 9.96646ZM53.4212 81.1242C45.5181 81.1242 39.0368 74.0353 39.0368 65.4032C39.0368 56.771 45.3799 49.6702 53.4212 49.6702C61.4631 49.6702 67.9437 56.7584 67.8056 65.4032C67.8181 74.0353 61.4631 81.1242 53.4212 81.1242ZM106.578 81.1242C98.6749 81.1242 92.1943 74.0353 92.1943 65.4032C92.1943 56.771 98.5368 49.6702 106.578 49.6702C114.62 49.6702 121.101 56.7584 120.962 65.4032C120.962 74.0353 114.62 81.1242 106.578 81.1242Z"></path></svg>
            <svg width="100" class="fill-white hover:fill-sky-500 hover:scale-110 duration-300 cursor-pointer" viewBox="0 0 160 120"><path d="M160 14.2053C154.009 16.6548 147.654 18.2627 141.146 18.9754C147.924 15.2262 153.129 9.28929 155.579 2.21547C149.136 5.74422 142.086 8.23045 134.735 9.56673C128.747 3.67938 120.216 0 110.774 0C92.6456 0 77.9475 13.5639 77.9475 30.2933C77.9475 32.668 78.2381 34.9798 78.7975 37.1975C51.5163 35.9338 27.3288 23.8736 11.1381 5.54531C8.31312 10.0195 6.69438 15.2239 6.69438 20.775C6.69438 31.2854 12.49 40.5574 21.2975 45.9902C16.0847 45.8396 10.9866 44.5402 6.42875 42.2007C6.42688 42.3276 6.42688 42.4545 6.42688 42.5819C6.42688 57.2596 17.7419 69.5039 32.7581 72.2869C27.9243 73.5001 22.8539 73.6777 17.9344 72.806C22.1113 84.8414 34.2344 93.5995 48.5981 93.8446C37.3638 101.969 23.2094 106.813 7.83063 106.813C5.18062 106.813 2.56813 106.669 0 106.389C14.5269 114.985 31.7813 120 50.3188 120C110.698 120 143.715 73.8385 143.715 33.8066C143.715 32.4926 143.684 31.1862 143.62 29.8872C150.046 25.5998 155.593 20.2894 160 14.2053Z"></path></svg>
			<a href="https://www.linkedin.com/company/backonchain/"><svg width="100" class="fill-white hover:fill-[#0A66C2] hover:scale-110 duration-300 cursor-pointer" viewBox="0 0 16 16"><path d="M12.225 12.225h-1.778V9.44c0-.664-.012-1.519-.925-1.519-.926 0-1.068.724-1.068 1.47v2.834H6.676V6.498h1.707v.783h.024c.348-.594.996-.95 1.684-.925 1.802 0 2.135 1.185 2.135 2.728l-.001 3.14zM4.67 5.715a1.037 1.037 0 01-1.032-1.031c0-.566.466-1.032 1.032-1.032.566 0 1.031.466 1.032 1.032 0 .566-.466 1.032-1.032 1.032zm.889 6.51h-1.78V6.498h1.78v5.727zM13.11 2H2.885A.88.88 0 002 2.866v10.268a.88.88 0 00.885.866h10.226a.882.882 0 00.889-.866V2.865a.88.88 0 00-.889-.864z"/></svg></a>
        </div>
	</div>

</BaseLayout>